/******************************************************************************/

/* Edit this file to style the various elements in your page. There are many  */
/* CSS properties. See https://www.w3schools.com/css/ for reference and help. */

/******************************************************************************/

/* Style of the main body. */
body
{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Used code from w3schools to help implement the two column layout. 
  	  	https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Columns in the webpage. */
.column
{
	float: left;
	width: 50%;
}

/* Used code from w3schools to help implement the two column layout. 
  	  	https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* Clear floats after the columns. */
.row:after
{
	content: "";
	display: table;
	clear: both;
}

/* Adding paddings to each row of buttons and comboboxes*/
.section
{
	padding: 15px 15px 15px 15px
}

/******************************************************************************/
