/******************************************************************************/

/* Edit this file to style the various elements in your page. There are many  */
/* CSS properties. See https://www.w3schools.com/css/ for reference and help. */

/******************************************************************************/

body
{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/******************************************************************************/
